<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groove</title>
    <link rel="stylesheet" href="css/indexStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="login">
      <section class="box">
        <a href="/login"> Login</a>
      </section>
      <section class="box">
        <a href="/signup"> Signup</a>
      </section>
    </section>
    <main>
      <section class="hero">
        <h1>Groove</h1>
      </section>
      <p>
        Create your very own soundtrack for your life. Add your favorite songs
        from your favorite artists!
      </p>
    </main>
  </body>
</html>
